.full-width {
  background-color:black;
}

.footer-nav {
  min-height:80px;
  width:100%;
  margin:0 auto;
}

.footer-nav-left {
  background-color:gray;
  min-height:80px;
  position:relative;
  float:left;
  color:#FFFFFF;
 
}

.footer-nav-left:before {
  content:'';
  border-top:80px solid gray;
  border-right:80px solid transparent;
  position:absolute;
  right:-80px;
}

.footer-nav-left p {
  margin-top:30px;
  font-size:15px;
  margin-left:80px;
}